body{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
input[type="text"], input[type="password"]{
	outline:none;
	padding: 10px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border:1px solid #eee;
	margin: 20px auto;
}
input[type="submit"]{
	padding: 10px;
	color: #fff;
	background: #0098cb;
	background-image: url("https://lh3.googleusercontent.com/mCVsAtG1EpSwbaGIkSo1v2WFkwKG_khaAz0iP9F3uuDkxzfYarKAfIIJVuq0FfiC7gCLu5cP=s640-h400-e365");
	width: 320px;
	margin: 20px auto;
	margin-top: 0px;
	border:0px;
	border-radius: 20px;
	cursor: pointer;

}
input[type="submit"]:hover{
	background: #00b8eb;
}
.header{
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
}
.header a{
	color: :333;
	text-decoration: none;
}
.or a{
	color: #333;
	text-decoration: none;
}